 @import 'bootstrap';

 /* ---HEADER--- */
header {
    background-color: #0753f7;
    display: flex;
    justify-content: space-between;
  }
  .apts {
    width: 336px;
    height: 200px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
  }

  .body {
      display: center;
      float: left;
      align-items: center;
      position: fixed;
  }

/* ---FOOTER--- */
footer {
    font-size: 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0753f7;;
    display: flex;
    justify-content: space-around;
  }


  